<header class="header">
  <img src="dog.png" alt="dog" class="header-images">

  <div class="headertitle">
    <h1>Steve Hus's home page</h1>
  </div>

  <ul class="header-list">
    <li>
      <a href="https://www.google.com">Google</a>
    </li>
    <li>
      <a href="https://www.amazon.com">Amazon</a>
    </li>
    <li class="dropdown">
      <a class="drop-trigger" href="https://www.apple.com">Apple</a>
      <ul class="drop-menu">
        <li>A</li>
        <li>B</li>
        <li>C</li>
      </ul>
    </li>
  </ul>
</header>
